.b {
  background-color: rgb(224, 49, 49);
  color: yellow;
  padding: 15px 30px;
  text-align: center;
  font-size: 25px;
}

input[type='text'] {
  background-color: rgb(212, 208, 208);
  color: black;
}

body {
  background-color: rgb(236, 221, 203);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-style: inherit;
}


@media screen and (max-width: 500px) {
  .main {
    max-width: max-content;
    display: block;
  }

  table {
    width: 100%;
  }
} 