* {
  padding: 10px;
}

body {
  background-color: aliceblue;
  font-style: oblique;
  width: 50% !important;
  margin: 0 auto;
}

.butt {
  margin-right: 7px !important;
}

span {
  font-size: larger;
  font-weight: 500;
  flood-color: antiquewhite;
}

@media (max-width: 1500px){
  body {
    width: 100% !important;
  }
}